extends post.pug

block meta
  - title = "Promise.then(undefined)"
  - date = "2017-08-04"
  - category = "TILT"

block headline
  | Passing #[code undefined] to a JavaScript promise 


block content
  p Consider this simple snippet:
  
  +code: :highlight(lang="js")
    Promise
      .resolve('JavaScript, why are you doing this to me?')
      .then(console.logg)
      .catch(console.error)

  p Note that #[code console.logg] is #[code undefined]. What will be printed?

  p #[strong Nothing].

  p The promise will silently resolve to the value of

  +code: :highlight(lang="js") 'JavaScript, why are you doing this to me?'

  p Which is a good question. I think it's because it hates me.

  p It's obviously a developer's mistake. My first thought was that introducing type system (like Flow) would solve this - and it would. But why isn't #[code then] method of a #[code Promise] just throwing a type error as soon as anything other than #[code function] is passed to it?

  p This leads to silent and hard to spot bugs. Unfortunately in JS community there is a strong attitude of ignoring the errors and going on as if nothing ever happened.
