mixin teaser
  if attributes.image
    .card.mb-3
      .row.no-gutters
        .col-md-4
          a(href=attributes.href)
            img.card-img(
              src=attributes.image
              style={
                width: "100%",
                height: "100%",
                "object-fit": "cover"
              })

        .col-md-8
          +teaser-body&attributes(attributes): block
  else
    .card.card-horizontal.mb-3
      .card-body
        +teaser-body&attributes(attributes): block

mixin teaser-body
  .card-body
    p.card-subtitle.text-muted #{attributes.date}
    block
    a(href=attributes.href).card-link.stretched-link Read more


mixin title
  h2.card-title: block

mixin code
  pre.hljs: code: block

doctype html

html(lang="en")
  head
    title TILT: Things I've Learnt Today
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    link(
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet"
      href="/../node_modules/highlight.js/styles/solarized-light.css"
    )

  body
    .container

      header.row.mt-5.mb-5
        .col-lg-12
          h1.display-1
            | TILT
            small.text-muted
              | Things I've Learnt Today
          pre
            | (┛◉Д◉)┛彡┻━┻


      main.row
        .col-lg-12
          +teaser(
            date="2020-01-16"
            href="https://tad-lispy.gitlab.io/why-is-this-so-terrible/"
            image="/../assets/kelly-sikkema-k4xoACkQZiw-unsplash.jpg"
          )
            +title Why is This so Terrible

            p I gave a short presentation: #[em Elements of Functional Programming for React.js Developers]. You can see the slides.

          +teaser(
            date="2019-08-27"
            href="https://basecamp.com/shapeup"
            image="/../assets/shape-up-cover.jpg"
          )
            +title Shape Up by Ryan Singer from Basecamp

            p Oh my! This book is the best. I want to work like that!

          +teaser(
            date="2019-03-31"
            href="https://superuser.com/q/1419624/195460"
            image="/../assets/gregory-culmer-1309211-unsplash.jpg"
          )
            +title Is there an equivalent of #[code cd -] for #[code cp] or #[code mv]?

            p Perhaps you know that you can go back and forth between current and previous directory using handy shortcut for the #[code cd] command:

            +code: :highlight(lang="shell")
              cd -

            p But this is #[code cd] specific. Is there a way to copy or move a file from current directory to the previous? Turns out there is.

          +teaser(
            date="2017-08-04"
            href="2017-08-04-promise-then-undefined.pug"
            image="/../assets/matthew-t-rader-1147836-unsplash.jpg"
          )
            +title Passing #[code undefined] to a JavaScript promise

            p Consider this simple snippet:
            pre: code.javascript: :highlight(lang="js")
              Promise
                .resolve('JavaScript, why are you doing this to me?')
                .then(console.logg)
                .catch(console.error)

            p Note that `console.logg` is `undefined`. What will be printed?


          +teaser(
            date="2017-08-04"
            href="2017-08-04-weird-aws-region-bug.md"
          )
            +title Weird AWS Region Bug

          +teaser(
            date="2017-08-04"
            href="2017-08-04-node-promise-race-timeout.pug"
          )
            +title Using #[code Promise.race] in Node.js to enforce a timeout

          +teaser(
            date="2017-07-21"
            href="2017-07-21-facebook-flow-in-an-alpine-node-docker-container.md"
          )
            +title Facebook Flow in an Alpine Node Docker Container

          +teaser(
            date="2017-07-20"
            href="2017-07-20-how-to-setup-ssh-key-limited-to-creating-a-tunnel.md"
          )
            +title How to Setup SSH Key limited to Creating a Tunnel

          +teaser(
            date="2017-06-29"
            href="2017-06-29-managing-access-to-npm-private-packages.md"
          )
            +title Managing Access to NPM Private Packages

          +teaser(
            date="2015-07-29"
            href="2015-07-29-react-component-testing.md"
          )
            +title How to Test if a Given Value is a React.js Component

          +teaser(
            date="2015-07-12"
            href=" 2015-07-12-an-idea-for-a-blog.md"
          )
            +title An Idea for the Blog

          +teaser(
            date="2015-04-28"
            href="2015-04-28-npm-install-coffee-from-git.md"
          )
            +title How to Install NPM Packages Written in CoffeeScript from a Git Repo

    include ../analytics.pug
