mixin code
  pre.hljs: code: block

mixin category-sigil(category)
  case category
    when "TILT"
      | (┛◉Д◉)┛彡┻━┻
    
    when "TOAD"
      | TOAD
      | Thought of a Day
      
    default
      | Blog

mixin category-link(category)
  a(href="/blog/")
    case category
      when "TILT"
        | TILT:
        | Things I've Learnt Today
      
      when "TOAD"
        | TOAD:
        | Thought of a Day
        
      default
        | Blog

block meta

doctype html
  
html(lang="en")
  head
    title #{title} | #{category || "Tad Lispy"}
    
    link(
      rel="stylesheet"
      href="/../node_modules/typeface-lato/index.css"
    )
    link(
      rel="stylesheet"
      href="/../node_modules/highlight.js/styles/solarized-light.css"
    )
    
    link(
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )

  body
    .container
      header.row.mt-5: .col-lg-12
        p 
          | published 
          | by #[a(href="/") Tad Lispy]
          | on #{date}
          | in #[+category-link(category)]
      
        h1.display-1
          block headline

      main.row.mt-5: .col-lg-12
        block content

      .row.mt-5.sigil: .col-lg-12
        pre.text-center: +category-sigil(category)

    include ../analytics.pug
