body
  font-family         'Lato', sans-serif
  font-weight         light

  text-align          justify

// Responsive fonts grid:

// Mobile is default:
body
  font-size           7rem  // 14px

p
  line-height         1.5em
  hyphens             auto


h1
  font-size           9rem
  margin              6rem 0
  font-weight         light

  strong
    font-weight       regular

h2
  font-size           8rem
  margin              4rem 0
  font-weight         light

  strong
    font-weight       regular

h3
  font-size           7rem
  margin              2rem 0
  font-weight         bold
  color               primary

@media tablet
  body
    font-size         7rem  // 21px

  h1
    font-size         10rem

  h2
    font-size         8rem

  h3
    font-size         7rem

@media desktop
  body
    font-size         6rem // 24px

  h1
    font-size         12rem

  h2
    font-size         10rem

  h3
    font-size         6rem


.small
  font-size       .8em
  font-weight     thin
  margin          0

strong
  font-weight       bold
  color             primary

a
  color               primary
  img
    border              none
