doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Tadeusz Lazurski CV en.md
  link(rel='stylesheet' href='https://stackedit.io/style.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' crossorigin='anonymous')
  style.
    body {
      padding-left: 2em;
    }
    main p {
      position: relative;
      orphans: 3;
    }
    main p i.aside {
      position: absolute;
      left: -2.5em;
      top: 1em;
      color: hsl(0, 0%, 80%);
    }
    main p {
      text-align: justify;
      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;
      /* Instead use this non-standard one: */
      word-break: break-word;
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    i.fas, i.far, i.fab {
      padding: 0 0.3em
    }
    @media print {
      main a:after {
        content: " (" attr(href) ") ";
        font-size: 0.8em;
        font-weight: normal;
        color: hsl(202.5, 90%, 47.1%);
        overflow-wrap: break-all;
        word-wrap: break-all;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
      }
      main a {
        text-decoration: none;
        color: inherit;
      }
      p {
        page-break-inside: avoid;
      }
      main p i.aside {
        color: hsl(0, 0%, 80%);
      }
    }
    
body
  .stackedit__html
    h1(id='tadeusz-łazurskibrsmallcurriculum-vitaesmall')
      | Tadeusz Łazurski
      br
      small Curriculum Vitae
    p
      small Tuesday, 2019-03-12
    main
      p
        | I&rsquo;m a&nbsp;full-stack 
        strong web and&nbsp;mobile developer
        |  born in&nbsp;1984. Since 2009 I&nbsp;hold a&nbsp;master&rsquo;s 
        strong degree in&nbsp;law
        |  from the&nbsp;Nicolaus Copernicus University in&nbsp;Toru&nacute;.
      p
        strong Professional experience
      p
        i.aside &lambda;
        | Since January I&nbsp;am involved with 
        a(href='https://software.garden/') Software Garden
        |  - a&nbsp;
        strong functional programming workshop
        |  for&nbsp;non-programmers.
      p
        small
          | We are going to teach 
          strong Elm
          |  to lay-people. I&rsquo;ve started this project together with a&nbsp;colleague from KOVnet. We&nbsp;grew to&nbsp;a team of&nbsp;four since then. In March we ran the first edition with the 
          strong University of Utrecht
          | .
      p
        i.fas.fa-mobile-alt.aside
        |  Since November 2017 until January 2019 I&rsquo;ve&nbsp;been leading a&nbsp;team of&nbsp;developers at&nbsp;KOVnet B.V. We were creating a&nbsp;
        strong mobile application
        |  for&nbsp;parents to&nbsp;communicate with their child care centers.
      p
        small
          | Unfortunately our team was&nbsp;shrinking and&nbsp;ultimately the&nbsp;project was&nbsp;outsourced. I&rsquo;ve&nbsp;learned a&nbsp;lot though! We&nbsp;set up sophisticated infrastructure management using HashiCorp suit of&nbsp;tools (
          strong Terraform
          | , 
          strong Consul
          | , 
          strong Vault
          | , 
          strong Nomad
          | ), took 
          strong Elm
          |  to&nbsp;it&rsquo;s limits and&nbsp;beyond, built a&nbsp;prototype of&nbsp;the 
          strong React Native
          |  app and&nbsp;published it&nbsp;to the&nbsp;
          strong App Store
          |  and&nbsp;
          strong Google Play
          | .
      p
        i.fas.fa-video.aside
        |  In&nbsp;2017 I&nbsp;was building and&nbsp;operating a&nbsp;monitoring solution for&nbsp;the&nbsp;e-commerce system offered by 
        a(href='https://scrambled.com/') Scrambled
        |  (a vendor of&nbsp;Unilever amongst others).
      p
        small
          | It involved designing and&nbsp;implementing programs and&nbsp;services (mostly in&nbsp;
          strong Node.js
          |  with some browser automation via 
          strong Electron
          | , but also some shell scripts and&nbsp;even 
          strong JQ
          | , which turns out to&nbsp;be a&nbsp;surprisingly nice programming language). They communicate mainly via queues (
          strong Amazon SQS
          | ) and&nbsp;are orchestrated with 
          strong Systemd
          | .
      p
        i.fas.fa-cart-plus.aside
        | Before that I&nbsp;was leading the&nbsp;development of&nbsp;the client side for&nbsp;the&nbsp;next major version of&nbsp;
        a(href='https://www.basebuilder.com/') Basebuilder
        | &rsquo;s web platform.
      p
        small
          | We increased consumer engagement and&nbsp;conversion rates by offering  consumers better experience, while reducing the&nbsp;maintenance costs.
      p
        i.far.fa-question-circle.aside
        | From 2011 to&nbsp;2015 I&rsquo;ve&nbsp;been working at Radzimy&#x2024;co, my own startup aiming to&nbsp;build a&nbsp;Q&amp;A&nbsp;platform where lawyers could market their services while sharing their expertise with people.
      p
        small
          | We were (and still are) passionate about legal awareness. The&nbsp;project was&nbsp;terminated due to&nbsp;financial constraints.
      p
        i.fas.fa-balance-scale.aside
        | From 2012 to&nbsp;2014 I&nbsp;was a&nbsp;software developer at Competition and&nbsp;Consumer Protection Court in&nbsp;Warsaw (Division of&nbsp;Prohibited B2C Clauses).
      p
        small
          | During that period we&nbsp;were able to&nbsp;increase performance of&nbsp;my department by 9000% (yes, nine thousand). No-nonsense software tools I&rsquo;ve&nbsp;designed and&nbsp;implemented were one of&nbsp;the key factors in&nbsp;this.
      p
        strong Values and&nbsp;interests
        span(style='color: hsl(0, 0%, 80%)')
          i.fas.fa-tools
          |
          i.fas.fa-cat
          |
          i.far.fa-comments
      p
        | I&rsquo;m passionate about developing quality software. A&nbsp;
        a(href='https://www.npmjs.com/package/damerau-levenshtein') package
        |  I&nbsp;have created is&nbsp;being downloaded from&nbsp;
        i.fab.fa-npm(style='font-size: 1.5em; position: relative; top: 0.2em')
        |  about three million times per&nbsp;week.
      p
        | I&nbsp;find a&nbsp;lot of&nbsp;joy programming with 
        strong Elm
        |  language. It&nbsp;makes development for&nbsp;the browser much more pleasant and easy. I&nbsp;love to&nbsp;learn new stuff - 
        strong Clojure
        |  as&nbsp;a&nbsp;server side language is currently on my workbench.
      p
        | I also like people that are honest and&nbsp;respectful, cats (including dishonest ones), books and&nbsp;simplicity in&nbsp;general. I&nbsp;developed my 
        strong communication and&nbsp;leadership
        |  skills at 
        a(href='http://www.toastmasters.org/' title='Toastmasters website') Toastmasters International
        | . Before I&nbsp;left Poland I&nbsp;had an&nbsp;honour to&nbsp;be a&nbsp;Treasurer of&nbsp;our TM club (Speaking Elephants).
      p
        | I&rsquo;m open to&nbsp;join a&nbsp;motivated and&nbsp;inspiring team, where delivery of&nbsp;great products is paralleled with personal development of&nbsp;teammates.
    hr
    footer
      p
        i.fab.fa-github
        a(href='https://github.com/lzrski') lzrski
        |
        i.fas.fa-globe
        a(href='https://tad-lispy.com/') tad-lispy.com
        |
        i.fas.fa-envelope-open-text
        a(href='mailto:tadeusz@lazurski.pl') tadeusz@lazurski.pl
        |
        i.fab.fa-stack-exchange
        a(href='https://stackoverflow.com/users/1151982/tad-lispy?tab=profile')
          | Tadeusz Łazurski
