doctype html

html(lang="en")

  head
    link(rel="stylesheet" href="../node_modules/typeface-lato/index.css")
    link(rel="stylesheet" href="styles/index.styl")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )

  body
    section#landing
      div.container
        header
          h1
            | #[strong Hello], my name is Tad.
            |
            | I'm a #[strong web and mobile developer].

          img.main-image(
            src='../assets/tad-lispy.png'
            alt='Tad Lispy a raketa'
          )

        main
          p You can hire me through my company #[a(href="https://software.garden/") Software Garden]. We are based in the wonderful Amsterdam, the Netherlands.
 
        footer
          ul#menu
            - 
              const links = {
                'Blog': 'blog/index.pug',
                'GitLab': 'https://gitlab.com/tad-lispy',
                'GitHub': 'https://github.com/tad-lispy',
                'StackOverflow': 'https://stackoverflow.com/users/1151982/tad-lispy?tab=profile', 
                'Mastodon': 'https://chaos.social/@lazurski', 
                'LinkedIn': 'https://linkedin.com/in/lazurski' 
              }
            li.caption: span Get in touch via
            each href, label in links
              li: a(href=href): span #{label}

                
    
    footer 
      p 
        | Copyright Tadeusz Lazurski 2015-2019;
         
      p This website is open-source. You can #[a(href="https://gitlab.com/tad-lispy/tad-lispy.gitlab.io/") fork it on GitLab].
    

    script(async="yes" src='index.coffee')
    include analytics.pug
